<!DOCTYPE html>
<html lang="en">
<head>

<meta name="theme-color" content="#216eb9">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Pivotal Container Service Workshop</title>

<link href="../static/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" />
<link href="../static/css/theme.css" th:href="@{/css/theme.css}" rel="stylesheet" />
<link href="../static/css/highlight.js.min.css" th:href="@{/css/highligh.js.min.css}" rel="stylesheet" />
<link href="../static/css/github.css" th:href="@{/css/github.css}" rel="stylesheet" />
<link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet" />

<style>
    @import url(''https://fonts.googleapis.com/css?family=Raleway:500,500i,700,700i'');

    #header {
        border-color: #216eb9;
        background-color: #216eb9;
    }

    footer {
        background-color: #216eb9;
    }

    .label.label-primary {
        background-color: #216eb9;
    }

    a {
        color: #216eb9;
    }

    .label.label-primary:hover, .label.label-primary:focus {
        background-color: #307dc8;
    }

    a:hover, a:focus {
        color: #307dc8;
    }

    .slide {
        color: #216eb9;
    }

    .slide h2, .slide label {
        color: #216eb9;
    }

    .slide input {
        color: rgba(33, 110, 185, 0.65);
    }

    .face path {
        fill: #216eb9;
    }

    body {
        background-color: #FFFFFF;
    }

    .slide {
        background-color: rgba(255, 255, 255, 0.9);
    }

    .slide.text {
        background-color: #FFFFFF;
    }

    .slide h2, .slide label {
        color: inherit;
    }


    html, body {
        font-family: 'Raleway', sans-serif;
    }

    .slide:before {
        background-image: url(./images/p.png);
        background-size: contain;
        background-repeat: no-repeat;
        content: "";

        height: 120px;
        width: 115px;
        position: fixed;
        top: 20px;
        left: 20px;
    }
</style>

    <link rel="stylesheet" href="./css/custom.css">
</head>
<body>


<style>
    header {
        border-bottom: #216eb9 18px solid;
    }
</style>

<header>
    <img src="./static/images/pks-workshop.svg" th:src="@{/images/pks-workshop.svg}" alt="Pivotal Container Service Workshop" height="60px">
</header>

<a class="feedback" href="https://docs.google.com/forms/d/e/1FAIpQLScDvYbobgAarkYN5eVIVbDOqURdan4TZHOdHdMrorRaz3GFJg/viewform" data-url-field="entry.31443528" target="_blank" rel="noreferrer noopener">
    <button>
        feedback
    </button>
</a>

<main id="main">

    <div id="content" class="container">
        <article>
 <h1></h1>
    <h2>Best Practices Deploying PKS</h2>
    <ul class="index">
            <li>
                <div>
                    The Story of PKS
                </div>

                <div class="links">
                    <div class="link">
                    </div>
                    <div class="link">
                                <a href="unit/story-of-pks/slides.html" class="label label-primary" rel="noreferrer noopener">slides</a>
                    </div>
                    <div class="link">
                    </div>
                </div>
            </li>
            <li>
                <div>
                    What is it?
                </div>

                <div class="links">
                    <div class="link">
                    </div>
                    <div class="link">
                                <a href="unit/what-is-it/slides.html" class="label label-primary" rel="noreferrer noopener">slides</a>
                    </div>
                    <div class="link">
                    </div>
                </div>
            </li>
            <li>
                <div>
                    Pivotal Ops Manager
                </div>

                <div class="links">
                    <div class="link">
                                <a href="unit/pivotal-ops-manager/video.html" class="label label-primary" rel="noreferrer noopener">video</a>
                                <a href="unit/pivotal-ops-manager/demo.html" class="label label-primary" rel="noreferrer noopener">demo</a>
                    </div>
                    <div class="link">
                    </div>
                    <div class="link">
                    </div>
                </div>
            </li>
            <li>
                <div>
                    Pivotal Director Tile
                </div>

                <div class="links">
                    <div class="link">
                                <a href="unit/pivotal-director-tile/video.html" class="label label-primary" rel="noreferrer noopener">video</a>
                                <a href="unit/pivotal-director-tile/demo.html" class="label label-primary" rel="noreferrer noopener">demo</a>
                    </div>
                    <div class="link">
                    </div>
                    <div class="link">
                    </div>
                </div>
            </li>
            <li>
                <div>
                    The Inner Workings
                </div>

                <div class="links">
                    <div class="link">
                    </div>
                    <div class="link">
                                <a href="unit/inner-workings/slides.html" class="label label-primary" rel="noreferrer noopener">slides</a>
                    </div>
                    <div class="link">
                    </div>
                </div>
            </li>
            <li>
                <div>
                    Pivotal Container Service Tile
                </div>

                <div class="links">
                    <div class="link">
                                <a href="unit/pivotal-container-service-tile/demo.html" class="label label-primary" rel="noreferrer noopener">demo</a>
                    </div>
                    <div class="link">
                    </div>
                    <div class="link">
                    </div>
                </div>
            </li>
            <li>
                <div>
                    Pivotal User Account and Authentication (UAA)
                </div>

                <div class="links">
                    <div class="link">
                                <a href="unit/uaa/demo.html" class="label label-primary" rel="noreferrer noopener">demo</a>
                    </div>
                    <div class="link">
                    </div>
                    <div class="link">
                    </div>
                </div>
            </li>
            <li>
                <div>
                    Pivotal Container Service CLI
                </div>

                <div class="links">
                    <div class="link">
                                <a href="unit/pivotal-container-service-cli/demo.html" class="label label-primary" rel="noreferrer noopener">demo</a>
                    </div>
                    <div class="link">
                    </div>
                    <div class="link">
                    </div>
                </div>
            </li>
            <li>
                <div>
                    Manage Kubernetes Clusters
                </div>

                <div class="links">
                    <div class="link">
                                <a href="unit/manage-kubernetes-clusters/demo.html" class="label label-primary" rel="noreferrer noopener">demo</a>
                    </div>
                    <div class="link">
                    </div>
                    <div class="link">
                    </div>
                </div>
            </li>
            <li>
                <div>
                    Using BOSH to show PKS Clusters
                </div>

                <div class="links">
                    <div class="link">
                                <a href="unit/using-bosh-to-show-pks-clusters/demo.html" class="label label-primary" rel="noreferrer noopener">demo</a>
                    </div>
                    <div class="link">
                    </div>
                    <div class="link">
                    </div>
                </div>
            </li>
            <li>
                <div>
                    Interacting with Kubernetes Clusters
                </div>

                <div class="links">
                    <div class="link">
                                <a href="unit/interacting-kubernetes-clusters/demo.html" class="label label-primary" rel="noreferrer noopener">demo</a>
                    </div>
                    <div class="link">
                    </div>
                    <div class="link">
                    </div>
                </div>
            </li>
    </ul>
    <h2>Creating a Highly Available Cluster</h2>
    <ul class="index">
            <li>
                <div>
                    Harbor - Managing Images at Scale
                </div>

                <div class="links">
                    <div class="link">
                                <a href="unit/harbor/demo.html" class="label label-primary" rel="noreferrer noopener">demo</a>
                    </div>
                    <div class="link">
                                <a href="unit/harbor/slides.html" class="label label-primary" rel="noreferrer noopener">slides</a>
                    </div>
                    <div class="link">
                    </div>
                </div>
            </li>
    </ul>
    <h2>Networking</h2>
    <ul class="index">
            <li>
                <div>
                    NSX-T - Kubernetes Networking
                </div>

                <div class="links">
                    <div class="link">
                    </div>
                    <div class="link">
                                <a href="unit/kubernetes-networking/slides.html" class="label label-primary" rel="noreferrer noopener">slides</a>
                    </div>
                    <div class="link">
                    </div>
                </div>
            </li>
    </ul>
    <h2>Monitoring and Alerting</h2>
    <ul class="index">
            <li>
                <div>
                    NSX-T - Kubernetes Networking
                </div>

                <div class="links">
                    <div class="link">
                    </div>
                    <div class="link">
                                <a href="unit/kubernetes-networking/slides.html" class="label label-primary" rel="noreferrer noopener">slides</a>
                    </div>
                    <div class="link">
                    </div>
                </div>
            </li>
    </ul>
    
    <h2>Security</h2>
    <ul class="index">
            <li>
                <div>
                    NSX-T - Kubernetes Networking
                </div>

                <div class="links">
                    <div class="link">
                    </div>
                    <div class="link">
                                <a href="unit/kubernetes-networking/slides.html" class="label label-primary" rel="noreferrer noopener">slides</a>
                    </div>
                    <div class="link">
                    </div>
                </div>
            </li>
    </ul>
    </article>
    </div>
</main>


<div class="slide" data-slide="1">
    <h1>Pivotal Container Service Workshop</h1>
        <ul>
                <li>Five S's</li>
                <li>Stability</li>
                <li>Security</li>
                <li>Scalability</li>
                <li>Speed</li>
                <li>Savings</li>
        </ul>
</div>

<div class="slide transparent" data-slide="2">
    <h1>Get started!</h1>
</div>

<div class="slide" data-slide="3">
    <h1>Wrap up</h1>
        <ul>
                <li>Five S's</li>
                <li>Stability</li>
                <li>Security</li>
                <li>Scalability</li>
                <li>Speed</li>
                <li>Savings</li>
        </ul>

    <div class="faces">
        <svg class="face" viewBox="0 0 24 24">
            <path d="M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M13,9.94L14.06,11L15.12,9.94L16.18,11L17.24,9.94L15.12,7.82L13,9.94M8.88,9.94L9.94,11L11,9.94L8.88,7.82L6.76,9.94L7.82,11L8.88,9.94M12,17.5C14.33,17.5 16.31,16.04 17.11,14H6.89C7.69,16.04 9.67,17.5 12,17.5Z"/>
        </svg>

        <svg class="face" viewBox="0 0 24 24">
            <path d="M8.5,11A1.5,1.5 0 0,1 7,9.5A1.5,1.5 0 0,1 8.5,8A1.5,1.5 0 0,1 10,9.5A1.5,1.5 0 0,1 8.5,11M15.5,11A1.5,1.5 0 0,1 14,9.5A1.5,1.5 0 0,1 15.5,8A1.5,1.5 0 0,1 17,9.5A1.5,1.5 0 0,1 15.5,11M12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22C6.47,22 2,17.5 2,12A10,10 0 0,1 12,2M9,14H15A1,1 0 0,1 16,15A1,1 0 0,1 15,16H9A1,1 0 0,1 8,15A1,1 0 0,1 9,14Z"/>
        </svg>

        <svg class="face" viewBox="0 0 24 24">
            <path d="M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M16.18,7.76L15.12,8.82L14.06,7.76L13,8.82L14.06,9.88L13,10.94L14.06,12L15.12,10.94L16.18,12L17.24,10.94L16.18,9.88L17.24,8.82L16.18,7.76M7.82,12L8.88,10.94L9.94,12L11,10.94L9.94,9.88L11,8.82L9.94,7.76L8.88,8.82L7.82,7.76L6.76,8.82L7.82,9.88L6.76,10.94L7.82,12M12,14C9.67,14 7.69,15.46 6.89,17.5H17.11C16.31,15.46 14.33,14 12,14Z"/>
        </svg>
    </div>
</div>

<div class="slide text" data-slide="4">
    <div class="inner">
        <h1>Instructor notes</h1>
        notes...
    </div>
</div>

<div class="slide lemon-squeezy" data-slide="7">
    <h1>Easy peasy</h1>
    <h1>lemon squeezy!</h1>
</div>

<div class="slide" data-slide="8">
    <h1>Lunch time!</h1>
    <label for="lunch-end">will return</label>
    <input type="text" name="lunch-end" data-time>
</div>

<div class="slide" data-slide="9">
    <h1>Break time!</h1>
    <label for="break-end">will return</label>
    <input type="text" name="break-end" data-time>
</div>

<div class="slide" data-slide="¿">
    <h2>Keyboard shortcuts</h2>
    <table>
        <thead>
        <tr>
            <th>Key</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Show <em>introduction</em> slide</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Show <em>get started</em> slide</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Show <em>wrap up</em> slide</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Show <em>instructor notes</em></td>
        </tr>
        <tr>
            <td>7</td>
            <td>Easy peasy</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Show <em>lunch time</em> slide</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Show <em>break time</em> slide</td>
        </tr>
        <tr>
            <td>0</td>
            <td>Play gong sound</td>
        </tr>
        <tr>
            <td>ESC</td>
            <td>Close slide</td>
        </tr>
        <tr>
            <td>?</td>
            <td>Show this help message</td>
        </tr>
        </tbody>
    </table>
</div>

<footer>
    <a href="https://pivotal.io/legal" rel="noreferrer noopener">CONFIDENTIAL -
        © Copyright 2018 Pivotal Software, Inc. All Rights Reserved.</a>
    <div>
        <label class="hidden-checkbox">
            <input type="checkbox" id="instructor-mode">
            <span>course version: 1.0.6<sup class="check">IM</sup></span>
        </label>
    </div>
</footer>

</body>
</html>

